# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/

# Testing
coverage/

# Build
dist/
build/

# Temporary files
*.tmp
*.temp
.cache/